<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/new.css' />


  </head>


  <body>
    
      <%- include('../includes/adminnav.ejs') %>
    

   
    <p>Welcome to <%= title %></p>
    <main>
      
            <form class="product-form" enctype="multipart/form-data">
                
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" >
                </div>
                <div class="form-control">
                        <label for="image">Image</label>
                     <input type="file" name="image" id="image"  >
                    </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" >
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="5"> </textarea>
                </div>
              <button class="btn" type="button" onclick="editproduct()"> Edit  </button>
        
            </form>
         
    </main>
   

  </body>
  <script src = "../javascripts/editproduct.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</html>
