<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


  <body>
    
    <div class="nav">
        
      <ul>
         <li><a href="/products">Products</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
          <li><a href="/admin/signup">Admin Signup</a></li>
           <li><a href="/admin/login">Admin Login</a></li>

      </ul>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
<form action="/admin/login" method="post">
<div class="form control">
<h1>Log In</h1>
<p>Login into your Existing accont.</p>
<hr>
</div>
<div class="form control">

<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" id="email" required>
</div>
<br/>
<div class="form control">

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
</div>
<br/>


<div class="clearfix">
  <button type="button" class="btn" onclick="adminlogin()">Log in</button>
</div>
</div>
</form>
</main>

  </body>
  <script src = "../javascripts/adminauth.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

</html>
