 
    <div class="nav">
        
            <ul>
                  <li><a href="/shop">Shop</a></li>
                  <li><a href="/admin/add-product">Add product</a></li>
                  <li><a href="/admin/signup">Admin Signup</a></li>
                   <li><a href="/admin/login">Admin Login</a></li>
                  <li><a href="/admin/logout">Admin logout</a></li>

      
            </ul>
            </div>