<div class="nav">
        
        <ul>
         
          

           <li><a href="/shop">Shop</a></li>
        

           <li><a href="/cart">Cart</a></li>
       
         
           <li><a href="/login">Login</a></li>
           <li><a href="/signup">Signup</a></li>
      
           <li class="main-header__item">
               <form action="/logout" method="post">
                   <button type="submit" class="btn">Logout</button>
               </form>
           </li>

 
           <li><a href="/admin">Admin</a></li>


        </ul>
        </div>