<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


  <body>
    <%- include('./includes/adminnav.ejs') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
    <div class="box" styel="height:400px width:30% padding:400px">
       <div class="product_title">  </div>
       <div class="image_url">    </div>
       <div class="product_price">    </div>
       <div class="iproduct__descriptionl">  </div>

    </div>
    </main>

  </body>
  <script src = "/public/javascripts/adminauth.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</html>
