<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


  <body>
    
    <div class="nav">
        
      <ul>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
         <li><a href="/admin/signup">Admin Signup</a></li>
          <li><a href="/admin/login">Admin Login</a></li>
          <li> <button  onclick="lout()">Logout</button> </li>

          
      </ul>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
    <div class="box" styel="height:400px width:30% padding:400px">
       <div class="product_title">  </div>
       <div class="image_url">    </div>
       <div class="product_price">    </div>
       <div class="iproduct__descriptionl">  </div>

    </div>
    </main>

  </body>
  <script src = "../javascripts/adminauth.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</html>
