<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


  <body>
    
    <div class="nav">
        
      <ul>
          <li><a href="/products">Products</a></li>
         <li><a href="/admin/add-product">Add product</a></li>
         <li><a href="/admin/signup">Admin Signup</a></li>
          <li><a href="/admin/login">Admin Login</a></li>


          
      </ul>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
    <div class="box" styel="height:400px width:30% padding:400px">
       <div class="product_title">  product Title </div>
       <div class="image_url">  image URL   </div>
       <div class="product_price">  Price  </div>
       <div class="iproduct__descriptionl">  product Description  </div>

    </div>
    </main>

  </body>
</html>
