<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>


  <body>
    
    <div class="nav">
        
      <ul>
         <li><a href="/shop">Shop</a></li>
         <li><a href="/products">Products</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/signup">Signup</a></li>
         <li><a href="/admin">Admin</a></li>

      </ul>
      </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>

    <div class="box" styel="height:400px width:30% padding:400px">
       <div class="product_title"> </div>
       <div class="image_url"></div>
       <div class="product_price"> </div>
       <div class="iproduct__descriptionl"> </div>

    </div>
    </main>

  </body>
</html>
