<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/new.css' />


  </head>


  <body>
    
    <div class="nav">
        
      <ul>
       
        

     
       
         <li><a href="/login">Login</a></li>
         <li><a href="/signup">Signup</a></li>
    
       


         <li><a href="/admin">Admin</a></li>


      </ul>
      </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
<form action="/login" method="post">
<div class="form control">

<hr>
</div>
<div class="form control">

<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" id="email" required>
</div>
<br/>
<div class="form control">

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
</div>
<br/>


<div class="clearfix">
  <button type="submit" class="btn" >Log in</button>
</div>
</div>
</form>
</main>

  </body>
  <script src = "../javascripts/adminauth.js"> </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

</html>
